<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <br />
    <main class="container">
      <div class="row justify-content-md-center">
        <div class="card col-md-8 col-sm-12 px-0">
          <h3 class="card-header text-center">Login</h3>
          <div class="card-body">
            <form id="loginForm">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="userName">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="userName"
                    placeholder="User Name"
                    required
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    aria-describedby="passHelp"
                    required
                  />
                  <small id="passHelp" class="form-text text-muted">
                    Password must be between 6-20 characters and contain at
                    least one Uppercase letter, Lowercase letter, and Number
                  </small>
                </div>
              </div>
              <div class="form-row mt-3">
                <div class="col-md-4 offset-md-1 col-sm-12 mb-4">
                  <button
                    type="submit"
                    id="loginBtn"
                    class="btn btn-primary btn-block"
                  >
                    Log In
                  </button>
                </div>
                <div class="col-md-4 offset-md-2 col-sm-12">
                  <button
                    type="submit"
                    id="createAcctBtn"
                    class="btn btn-primary btn-block"
                  >
                    Create Account
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/scripts') %>
  </body>
</html>
